/*algemene instellingen*/

* {
    box-sizing: border-box;
    -webkit-appearance: none;
    /*Safari/Chrome*/
    -moz-appearance: none;
    /*Firefox*/
    -ms-appearance: none;
    /*IE*/
    -o-appearance: none;
    /*Opera*/
    appearance: none;

    -webkit-border-radius: 0;
}

html,
body {
    font-family: DFDS-light, "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
}

body > * {
    padding: 1em;
    margin: .5em;

}

body {
    transition: .5s ease-in;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

/*fonts*/

@font-face {
    font-family: DFDS-bold;
    src: url(../Fonts/DFDS-Bold_web.woff2) format("woff2"), url(../Fonts/DFDS-Bold_web.woff) format("woff"), url(../Fonts/DFDS-Bold_web.ttf) format("truetype"), url(../Fonts/DFDS-Bold_web.svg#DFDS-Bold_web) format("svg");
    font-style: normal
}

@font-face {
    font-family: DFDS-light;
    src: url(../Fonts/DFDS-Light_web.woff2) format("woff2"), url(../Fonts/DFDS-Light_web.woff) format("woff"), url(../Fonts/DFDS-Light_web.ttf) format("truetype"), url(../Fonts/DFDS-Light_web.svg#DFDS-Light_web) format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: icomoon;
    src: url(../Fonts/Icons/icomoon.eot?gvto4);
    src: url(../Fonts/Icons/icomoon.eot?#iefixgvto4) format("embedded-opentype"), url(../Fonts/Icons/icomoon.woff?gvto4) format("woff"), url(../Fonts/Icons/icomoon.ttf?gvto4) format("truetype"), url(../Fonts/Icons/icomoon.svg?gvto4#icomoon) format("svg");
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: DFDS-light, "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    font-style: strong;
    color: inherit;
    margin: 0;
    line-height: 1.4;
    padding: 0;
}

h1 {
    font-size: 1.7em;
    margin-bottom: 0.234em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.1em;
    margin-bottom: 0.234em;
}

p {
    font-size: 1em
}

a {
    text-decoration: none;
    color: #002b45;
    line-height: inherit;
    transition: color 0.3s ease;
}

a:hover {
    color: grey;
}

/*navigatie*/

nav {
    position: fixed;
    width: 100%;
    height: em;
    background: white;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
}

ul {
    list-style: none;
    display: flex;
    padding-top: 0.25em;
    padding-left: 0;
    margin: 0;
}

li {
    color: #333;
    padding: .25em .5em;
    /*    border-radius: .5em;*/
    text-decoration: none;
    transition: all .3s;
    font-size: 1em;
    /*    margin: 0;*/
}

li > img {
    width: 1.875em;
    height: 1.875em;
    margin: 0;
}

li > a > img {
    width: 6.250em;
    margin: 0;
}

li > a > p {
    display: flex;
    width: 1.875em;
    height: 1.875em;
    background: url(../img/iconen/leeslijsten.png) no-repeat;
    background-size: 100%;
    margin: 0;
    text-indent: -9999em;
}

li:nth-of-type(4) {
    margin-right: auto;

}

li:nth-of-type(2) > a > p {
    display: flex;
    width: 1.875em;
    height: 1.875em;
    background: url(../img/iconen/leeslijsten.png) no-repeat;
    background-size: 100%;
    margin: 0;
    text-indent: -9999em;
}

li:nth-of-type(3) > a > p {
    display: flex;
    width: 1.875em;
    height: 1.875em;
    background: url(../img/iconen/verhaal.png) no-repeat;
    background-size: 100%;
    margin: 0;
    text-indent: -9999em;
}

li:nth-of-type(4) > a > p {
    display: flex;
    width: 1.875em;
    height: 1.875em;
    background: url(../img/iconen/favoriet.png) no-repeat;
    background-size: 100%;
    margin: 0;
    text-indent: -9999em;
}

li:nth-of-type(5) > a > p {
    display: flex;
    width: 1.875em;
    height: 1.875em;
    background: url(../img/iconen/profiel.png) no-repeat;
    background-size: 100%;
    margin: 0;
    text-indent: -9999em;
}

/*footer*/

footer {
    text-align: center;
    background-color: #002B45;
    padding: 0;
    margin: 0;
}

footer p {
    color: white;
    align-content: center;
}

footer a {
    color: white;
}

/*
div a {
    background-color: black;
    color: #fff;
    padding: 0 0.7em;
    position: fixed;
    font-size: 2em;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    visibility: hidden
}
*/

/*formulier aanmelden/registreren */

article {
    margin-top: 1.250em;
    height: 35.000em;
    width: 100%;
    /*        height: 100%;*/
    position: relative;
    top: 0.625em;
}

article figure a {
    /*height: 100%;*/
    position: absolute;
    top: 0;
    display: inline-block;
    text-indent: 3.125em;
    line-height: 2.500em;
    border-right: 0.063em solid grey;
}

#tab1 a {
    width: 10.625em;
    left: 0.625em;
}

#tab2 a {
    width: 10.000em;
    left: 11.250em;
}

article figure form {
    display: none;
    clear: both;
    /*    position: absolute;*/
    top: 0;
    padding: 0.313em;
    width: 100%;
    min-height: 10.000em;
    margin-top: 2.500em;
    /*    box-sizing: border-box;*/
}

article figure:target a {
    background: #ff9b36;
    color: #fff;
}

article figure:target form {
    display: block;
}

article figure:first-of-type > figure {
    padding-top: 3.125em;
    text-align: center;
    z-index: -1;
}

article figure:nth-child(1) a {
    left: 0;
}

article figure:nth-child(2) a {
    left: 12.500em;
}

input[type=text] {
    width: 100%;
    padding: 0.750em;
    border-radius: 0.750em;
}

/*https://codepen.io/Ninjaweb/pen/pvrowL?q=tabs+without+javascript&limit=all&type=type-pens*/

/*uitgelicht*/

section > section {
    background: white;
    flex: 0 0 100%;
}

section > section > img {
    margin-bottom: -10PX;
}

section > section > header {
    background: white;
}

section > section > main {
    background: white;
    position: static;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    height: 12em;
    margin-top: 0;
    margin-bottom: 0.625em;
}

section > section > main > header > h2 {
    margin-left: 1.250em;
    padding-top: 0.625em;
}

section > section > main > p {
    margin-left: 1.250em;

}

section > section > main > p > a {
    font-family: DFDS-bold, "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
    font-size: .88889rem;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: .0.750em;
    border: 0;
    color: #1b5786;
}

/*afbeeldingen en overlay*/

img {
    width: 100%;
}

p > img {
    width: 2.500em;
}

picture {
    position: relative;
    overflow: hidden;
    display: block;
}

picture::before {
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 0;
    border-width: 0 0 25.000em 12.500em;
    border-color: transparent transparent #f18903 transparent;
    -moz-opacity: .7;
    opacity: .7;
}

section img {
    margin-bottom: -10PX;
}

/*knoppen*/

button {
    width: 50%;
    font-size: .88889em;
    line-height: 1.16667em;
    padding: .66667rem 0;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.016em;
    color: #fff;
    background: #ff9b36;
    align-content: center;
    border: none;
    margin-top: 1.875em;
}

button > img {
    width: 3em;

}

button > a {
    color: white;
}

input[type=submit] {
    width: 100%;
    font-size: .88889em;
    line-height: 1.16667em;
    padding: .66667rem 0;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.016em;
    color: #fff;
    background: #ff9b36;
    align-content: center;
}

input::selection {
    background: #ff9b36;
    color: white;
}

/*verhalen*/

#recept {
    background-image: url(../img/verhalen/recept/Mobile@3x.png);
    display: inline-block;
    background-size: contain;
    height: 67.000em;
    background-repeat: no-repeat;

    padding: 0
}

#hongerwinter {
    background-image: url(../img/verhalen/hongerwinter/Mobile@3x.png);
    display: inline-block;
    background-size: contain;
    height: 67.000em;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

}

#gefrustreerd {
    background-image: url(../img/verhalen/gefrustreerd/Mobile@3x.png);
    display: inline-block;
    background-size: contain;
    height: 217.000em;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

}

/*leeslijst tabs*/

section.tab {
    margin-top: 1.250em;
}

section.tab input {
    display: none;
    grid-column-start: 1;
    grid-column-end: 1;
}

section.tab label {
    padding: 0.875em;
    margin-top: 1.875em;
    border: solid #ff9b36 0.063em;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2);
}

section.tab input:checked + label {
    background: #ff9b36;
    color: #fff;
}

section.tab div.tab {
    display: none;
    grid-column-start: 1;
    grid-column-end: 4;
}

section.tab input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
section.tab input:nth-of-type(2):checked ~ .tab:nth-of-type(2) {
    display: block;

}

/*zoeken*/

body.filter nav li .zoeken {
    opacity: 1;
}

body.filter .zoek {
    opacity: 1
}

body.filter main {
    transform: translateY(0);
}

header .zoek {
    padding: 0;
    opacity: 0;
    display: flex;
    margin-top: 3.125em;
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);

}

header .zoek > button {
    width: 30%;
    margin: 0;
}

input[type=search] {
    /*    margin-top: 1.875em;*/
    width: 90%;
    font-size: 1em;
    padding: 0.625em;
    border: black solid 0.063em;
}

/*    https://codepen.io/SkipHendriks/pen/wKJQzg?depth=everything&order=popularity&page=16&q=search+menu&show_forks=false*/

/*voorpagina*/

.voorpagina > fieldset {
    /*        width: 50%;*/
    border: 0;
    /*        border-radius: 0.313em;*/
    background-color: white;
    padding: 1.250em;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    /*        margin-bottom: 10%;*/
    overflow: hidden;
}

.voorpagina > fieldset > legend {
    visibility: hidden;
}

section > h1 {
    width: 60%;
    display: inline-block;
}

section > button {
    display: inline-block;
    /*   margin-right: 0;*/
    width: 37%;
    margin-bottom: 1.250em;
}

/*breadcrumb*/

ul.breadcrumb {
    margin-top: 1.875em;
    /*    margin-bottom: 0.625em;*/
    padding: 0.500em 1em;
    /*    list-style: none;*/
    /*    background-color: #eee;*/
    margin-bottom: 1.875em;

}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li + li:before {
    padding: 0.500em;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #ff9b36;
}

#list {
    perspective: 6.250em;
}

li.show {
    height: 2em;
    margin: 0.125em 0;
    opacity: 1;
    transform: none;
    transition: all 0.5s cubic-bezier(.36, -0.64, .34, 1.76);
}

/*https://www.w3schools.com/css/tryit.asp?filename=trycss_breadcrumbs*/

/*reactie*/

.post {
    display: block;
    border: 0.063em solid;
    height: 25.000em;
    margin-top: -0em;
    /*   margin-left:  6.250em;*/
    /*    margin-right: 6.250em;*/
}

/*pop-up en lijst*/

.container {
    /*  max-width: 28.125em;*/
    /*  margin: 0 auto;*/
    /*  border-top: 0.313em solid #435757;*/
    /*  background-color: rgba(255, 255, 255, .2);*/
    /*  box-shadow: 0 0 1.250em rgba(0, 0, 0, .1);*/
    user-select: none;
}

.items {
    display: flex;
    flex-direction: column;
    /*  padding: 1.250em;*/
    counter-reset: done-items undone-items;
}

.done {
    order: 1;
}

.done::after {
    content: ' (' counter(done-items) ')';
}

.undone {
    order: 3;
}


/* hide inputs offscreen, but at the same vertical positions as the correpsonding labels, so that tabbing scrolls the viewport as expected */

input {
    /*  display: block;*/
    height: 3.313em;
    /*  order: 4;*/
    outline: none;
    counter-increment: undone-items;
}

input:checked {
    order: 2;
    counter-increment: done-items;
}

.popuplabel {
    display: block;
    position: relative;
    padding: 0.938em 0 0.938em 2.813em;
    border-top: 0.063em dashed #fff;
    order: 4;
    cursor: pointer;
    animation: undone .5s;
}

.popuplabel::before {
    content: '\f10c';
    circle outline display: block;
    position: absolute;
    top: 0.688em;
    left: 0.625em;
    font: 1.5em 'FontAwesome';
}

input:checked + .popuplabel {
    order: 2;
    animation: done .5s;
}

.popuplabel:checked + .popuplabel::before {
    /*  content: '\f058';  circle checkmark */
}

@keyframes done {
    0% {
        opacity: 0;
        background-color: rgba(255, 255, 255, .4);
        transform: translateY(1.250em);
    }
    50% {
        opacity: 1;
        background-color: rgba(255, 255, 255, .4);
    }
}

@keyframes undone {
    0% {
        opacity: 0;
        background-color: rgba(255, 255, 255, .4);
        transform: translateY(1.250em);
    }
    50% {
        opacity: 1;
        background-color: rgba(255, 255, 255, .4);
    }
}

/*https://codepen.io/lonekorean/pen/xGLLwX?depth=everything&order=popularity&page=4&q=+list&show_forks=false*/

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;

}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 4.375em auto;
    padding: 1.250em;
    background: #fff;
    border-radius: 0.313em;
    /*  width: 30%;*/
    width: 100%;
    /*    height: 25.000em;*/
    position: relative;
    /*  transition: all 5s ease-in-out;*/
}

.popup h2 {
    margin-top: 0;
    color: #333;
    /*  font-family: Tahoma, Arial, sans-serif;*/
}

.popup .close {
    position: absolute;
    top: 1.250em;
    right: 1.875em;
    transition: all 200ms;
    font-size: 1.875em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.popup .close:hover {
    /*  color: #06D85F;*/
}

.popup .content {
    max-height: 100%;
    overflow: auto;
}

/*https://codepen.io/imprakash/pen/GgNMXO*/

.download:before {
    content: url(/img/iconen/download1.png);
    display: block;
    width: fit-content;
    overflow: hidden;
    object-fit: contain;
}

.download:checked:before {
    content: url(/img/iconen/download2.png);
}

.tijd {
    content: url(/img/iconen/2uur.png)
}

aside {
    display: block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1;
    width: 100%;
}

aside > label {
    display: block;
}

aside > label > select {
    border: 0.125em solid #ff9b36;
}

/* Tablet (medium) screens */

@media screen and (min-width: 30em) {
    .voorpagina {
        background-image: url(../img/DFDS_employee_woman_expert.png);
        background-repeat: no-repeat;
        background-size: cover;
        background: block;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
        /*        height: 100em;*/
    }
    .voorpagina > fieldset {
        width: 50%;
        border: 0;
        border-radius: 0.313em;
        background-color: white;
        padding: 1.250em;
        box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 10%;

    }
    .voorpagina > fieldset > legend {
        visibility: hidden;
    }
    section:first-of-type {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row: ;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }
    section > section:nth-child(3) {
        display: block;
    }
    button {
        width: 50%;
        margin-left: 50%;
        font-size: .88889em;
        line-height: 1.16667em;
        padding: .66667rem 0;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 0.016em;
        color: #fff;
        background: #ff9b36;
        align-content: center;
    }
    section > h1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        width: 100%;
    }
    section > button {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row: 1;
        width: 50%;
    }
    section > section > main {
        background: white;
        position: static;
        box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
        height: 20em;
        margin-top: 0;
        margin-bottom: 0.625em;
    }
    #recept {
        background-repeat: no-repeat;
        background-image: url(../img/verhalen/recept/Tablet@3x.png);
        margin: 0;
        background-size: contain;
    }
    #hongerwinter {
        background-repeat: no-repeat;
        background-image: url(../img/verhalen/hongerwinter/Tablet@3x.png);
        margin: 0;
        background-size: contain;
    }
    #gefrustreerd {
        background-repeat: no-repeat;
        background-image: url(../img/verhalen/gefrustreerd/Tablet@3x.png);
        margin: 0;
        background-size: contain;
        height: 37.500em;

    }
    aside {
        background-image: url(/img/iconen/filter.png);
        display: block;

    }
    aside > label {
        display: block;
    }
    aside > label > select {
        border: 0.125em solid #ff9b36;
    }


}

/* Desktop (big) screens */

@media screen and (min-width: 48em) {
    .voorpagina {
        background-image: url(../img/DFDS_employee_woman_expert.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
        height: 20em;
    }
    .voorpagina > fieldset {
        width: 50%;
        border: 0;
        border-radius: 0.313em;
        background-color: white;
        padding: 1.250em;
        box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 10%;
        overflow: hidden;
    }
    .voorpagina > fieldset > legend {
        visibility: hidden;
    }
    article {
        top: 1.250em;
        margin-top: 1.250em;
        margin-left: 15%;
        margin-right: 15%;
        height: 36.250em;
        width: 75%;
        position: relative;
    }
    section > h1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    section > button {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row: 1;
        width: 50%;
    }
    section:first-of-type {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row: ;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }
    section > section:nth-child(3) {
        display: block;
    }
    section > section > main {
        background: white;
        position: static;
        box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
        height: 15em;
        margin-top: 0;
        margin-bottom: 0.625em;
    }

    button {
        width: 50%;
        margin-left: 50%;
        font-size: .88889em;
        line-height: 1.16667em;
        padding: .66667rem 0;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 0.016em;
        color: #fff;
        background: #ff9b36;
        align-content: center;
    }
    li > a > p {
        width: 100%!important;
        background: none!important;
        text-indent: 0!important;
    }
    #recept {
        background-repeat: no-repeat;
        background-image: url(../img/verhalen/recept/Desktop%20HD@3x.png);
        margin: 0;
        background-size: contain;
    }
    #hongerwinter {
        background-repeat: no-repeat;
        background-image: url(../img/verhalen/hongerwinter/Desktop%20HD@3x.png);
        margin: 0;
        background-size: contain;
    }
    #gefrustreerd {
        background-repeat: no-repeat;
        background-image: url(../img/verhalen/gefrustreerd/Desktop%20HD@3x.png);
        margin: 0;
        background-size: contain;
        height: 81.250em;
    }




}
